<div class="container-fluid">
    <div class="col-12 col-sm-8 col-lg-12 d-flex justify-content-center">
        <div class="auth-form">
            <h2>Login</h2>
            <form>
                <label for="email">Email</label>
                <input class="form-input" placeholder="Email" name="email" type="text">
                <label for="password">Password</label>
                <input class="form-input" placeholder="Password" name="password" type="password">
                <input class="form-button" type="submit" value="Login">
            </form>
        </div>
    </div>
</div>