.auth-form{
    padding: 1em;
    width: 50%;
}

.form-input{
    display: block;
    height: 3em;
    width: 100%;
    margin: 0em 0em 0em 0em;
}

.form-button{
    width: 100%;
    height: 3em;
}

@media (max-width: 768px) {
    .auth-form{
        width: 85%;
    }
}

@media (max-width: 320px){
    .auth-form{
        width: 95%;
    }
}
