<h1>Admin panel</h1>

<form id="loginForm" formGroup="editProductForm" (ngSubmit)="save()">
    <div class="form-group">
        <label for="email">Title</label>
        <input type="email" class="form-control" formControlName="title" placeholder="Title">
    </div>
    <div class="form-group">
        <label for="password">Description</label>
        <input type="text" class="form-control" formControlName="description" placeholder="Description">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" formControlName="price" placeholder="Price">
    </div>
    <div class="form-group">
        <label for="stock">Stock</label>
        <input type="number" class="form-control" formControlName="stock" placeholder="Stock">
    </div>

    <input class="btn btn-primary" type="submit" value="Save">
</form>